{% extends "base.twig" %}

{% block body %}
    <body class="background_image" style="background-image: url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/DA2E198288BFCA56AB53340211B38DE7134E40E4521EDCAFE6FFB8CD69250DE9/scale?width=2880&aspectRatio=1.78&format=jpeg); background-position: center; background-repeat: no-repeat;background-position: 1% 1%;background-size: 1720px 900px;"></body>


    <div style="box-sizing: border-box;
position: absolute;
width: 401px;
height: 91px;
top: 550px;
left: 650px;
border: 1px solid #FFFFFF;"></div>
<div style="box-sizing: border-box;

position: absolute;
width: 358px;
height: 85px;
top: 570px;
left: 670px;
border: 1px solid #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 69px;
align-items: center;
text-align: center;

color: #FFFFFF;"><a href="http://localhost:8000/characters">LET’S EXPLORE</a></div>

{% endblock %}